body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Match the background of the header */
 
  height: 110px; 
}

.divider {
  border: thick;
  height: 4px; /* Start with a thicker line */
  background: linear-gradient(to right, 
              rgba(8, 74, 240, 0) 0%,   /* Start with transparency */
              rgb(1, 1, 2) 25%,  /* Thick part at the start */
              rgb(4, 15, 44) 75%,  /* Thick part in the middle */
              rgba(17, 0, 253, 0) 100%);
  margin: 1rem 0; /* Spacing above and below the line */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
