/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.divider { /* Start with a thicker line */
  background: linear-gradient(to right, 
              rgba(8, 74, 240, 0) 0%,   /* Start with transparency */
              rgb(59, 59, 73) 25%,  /* Thick part at the start */
              rgb(59, 59, 73) 75%,  /* Thick part in the middle */
              rgba(17, 0, 253, 0) 100%);
   /* Spacing above and below the line */
}
.footer h3, .footer h5 {
  font-weight: 600;
  color: white;
}

.footer .logo {
  font-size: 1.8rem;
}

.footer .social-icons img {
  width: 20px;
  height: 20px;
}

.footer .btn-primary {
  font-family: archivo ;
  background-color: #2356d7;
  border-color: #2356d7;
}

.footer .btn-primary:hover {
  background-color: #1e4ba3;
}

.footer .list-unstyled li {
  margin: 5px 0;
  
  color: white;
}

/* .footer .container {
  padding-left: 15px;
  padding-right: 15px;
} */

@media (max-width: 100%) {
  .footer .social-icons {
    display: flex;
    justify-content: center;
  }

  .footer .col-md-3 {
    margin-bottom: 20px;
  }
}
